<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

<!-- Search bar in the sidebar -->
  <div class="sidebar-item">
    <div class="searchbar">
      <input type="text" class="search-input" id="search-input" placeholder="I'm looking for...">
      <ul class="results" id="results-container"></ul>
    </div>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <a class="sidebar-nav-item" href="https://keys.openpgp.org/search?q=peter%40roth.su" target="_blank">My PGP key</a>
  </nav>

  <div class="sidebar-item">
    <div class="social-share" style="padding-bottom: 0;">
      <div>
        <a rel="icon" title="Follow me on Strava" href="https://www.strava.com/athletes/84944781" target="_blank"><i class="fab fa-strava"></i></a>
        <a rel="icon" title="Contact me on Telegram" href="https://t.me/rpeter" target="_blank"><i class="fab fa-telegram-plane"></i></a>
        <a rel="icon" title="Contact me on LinkedIn" href="https://www.linkedin.com/in/thisispeterroth" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a rel="icon" title="Check out my GitHub" href="https://github.com/peterroth" target="_blank"><i class="fab fa-github-square"></i></a>
        <a rel="icon" title="Subscribe for news" href="/feed.xml" rel="alternate" type="application/rss+xml"><i class="fas fa-rss-square"></i></a>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>

  <div class="sidebar-item-footer">
    <div class="small">
      <p>
         &copy; {{ site.time | date: '%Y' }}. All rights reserved</br>
         The project is maintained and hosted on <a href="https://github.com/peterroth" target="_blank">GitHub</a></br>
         Theme is based on <a href="https://github.com/poole/lanyon" target="_blank">Lanyon</a> by <a href="https://twitter.com/mdo" target="_blank">@mdo</a>
      </p>
    </div>
  </div>
</div>
